*{
    background-color: black;
}

.jardim {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(12, 50px);
    gap: 2px;
    background-color:lightgreen;
}

/*Tipos de canteiro*/

.vazio {
    width: 50px;
    height: 50px;
    background-color:sienna;
    background-size: cover;
}

.preparado{
    width: 50px;
    height: 50px;
    background-color:saddlebrown;
    background-size: cover; 
}

.pedra{
    width: 50px;
    height: 50px;
    background-color:gray;
    background-size: cover;
}

.erva{
    width: 50px;
    height: 50px;
    background-color:darkolivegreen;
    background-size: cover;
}

.planta1{
    width: 50px;
    height: 50px;
    background-color:red;
    background-size: cover;
}

.planta2{
    width: 50px;
    height: 50px;
    background-color:greenyellow;
    background-size: cover;
}

.planta3{
    width: 50px;
    height: 50px;
    background-color:blue;
    background-size: cover;
}

/* Botão */
button{
    width: 80px;
    height: 25px;
    background-color: darkgrey;
    background-size: cover;
}
.selecionado{
    width: 80px;
    height: 25px;
    background-color:cornflowerblue;
    background-size: cover;
}