*{
    background-image: url("imagens/bg.png");
    background-size: 100%;
    image-rendering: pixelated;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.jardim {
    width: 660px;
    height: 660px;
    background-color: saddlebrown;
    display: grid;               
    justify-content: center;     
    align-items: center;
    margin:auto;
    background-image: none;
}

.canteiros {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(12, 50px);
    gap: 2px;
    background-image: none;
}

.sementes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Tipos de canteiro */

.vazio {
    width: 50px;
    height: 50px;
    background-image: url("imagens/terra_0.png");
    background-size: 100%;
    image-rendering: pixelated;
}

.preparado{
    width: 50px;
    height: 50px;
    background-image: url("imagens/terra_1.png");
    background-size: 100%;
    image-rendering: pixelated;
}

.regado{
    width: 50px;
    height: 50px;
    background-image: url("imagens/terra_2.png");
    background-size: 100%;
    image-rendering: pixelated;
}

.plantado{
    width: 50px;
    height: 50px;
    background-image: url("imagens/semente_1.png"), url("imagens/terra_1.png");
    background-size: 100%;
    image-rendering: pixelated;
}
.plantadoRegado{
    width: 50px;
    height: 50px;
    background-image: url("imagens/semente_1.png"), url("imagens/terra_2.png");
    background-size: 100%;
    image-rendering: pixelated;
}

.pedra_1{
    width: 50px;
    height: 50px;
    background-image: url("imagens/pedra_1.png"), url("imagens/terra_0.png");
    background-size: 100%;
    image-rendering: pixelated;
}

.pedra_2{
    width: 50px;
    height: 50px;
    background-image: url("imagens/pedra_2.png"), url("imagens/terra_0.png");
    background-size: 100%;
    image-rendering: pixelated;
}

.erva{
    width: 50px;
    height: 50px;
    background-image: url("imagens/erva.png"), url("imagens/terra_0.png");
    background-size: 100%;
    image-rendering: pixelated;
}

/* Ferramentas */

.enxada{
    width: 80px;
    height: 80px;
    background-image: url("imagens/enxada.png"), url(imagens/slot.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.regador{
    width: 80px;
    height: 80px;
    background-image: url("imagens/regador.png"), url(imagens/slot.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.picareta{
    width: 80px;
    height: 80px;
    background-image: url("imagens/picareta.png"), url(imagens/slot.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.foice{
    width: 80px;
    height: 80px;
    background-image: url("imagens/foice.png"), url(imagens/slot.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.semente{
    width: 80px;
    height: 80px;
    background-size: 100%;
    image-rendering: pixelated;
}

/* Botão */

.botão{
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    background-image: none;
}

.ativo{
    width: 80px;
    height: 80px;
    border: solid;
    border-color: brown;
}

/* Tipos de Semente */

.cenoura{
    width: 80px;
    height: 80px;
    background-image: url("imagens/cenoura_s.png"), url(imagens/slot.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cebola{
    width: 80px;
    height: 80px;
    background-image: url("imagens/cebola_s.png"), url(imagens/slot.png);
    background-size: 100%;
    image-rendering: pixelated; 
}

.batata{
    width: 80px;
    height: 80px;
    background-image: url("imagens/batata_s.png"), url(imagens/slot.png);
    background-size: 100%;
    image-rendering: pixelated;     
}

/* Sementes plantadas */
.seco{
    width: 50px;
    height: 50px;
    background-image: url("imagens/seco_1.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cenoura_1a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cenoura_1.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cenoura_1b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cenoura_1.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cenoura_2a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cenoura_2.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cenoura_2b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cenoura_2.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cenoura_3a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cenoura_3.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cenoura_3b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cenoura_3.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}


.batata_1a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/batata_1.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.batata_1b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/batata_1.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.batata_2a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/batata_2.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.batata_2b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/batata_2.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.batata_3a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/batata_3.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.batata_3b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/batata_3.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}


.cebola_1a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cebola_1.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cebola_1b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cebola_1.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cebola_2a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cebola_2.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cebola_2b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cebola_2.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cebola_3a{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cebola_3.png"), url(imagens/terra_1.png);
    background-size: 100%;
    image-rendering: pixelated;
}

.cebola_3b{
    width: 50px;
    height: 50px;
    background-image: url("imagens/cebola_3.png"), url(imagens/terra_2.png);
    background-size: 100%;
    image-rendering: pixelated;
}
/* Dormir */

.dormir{
    width: 80px;
    height: 160px;
    background-image: url("imagens/cama.png"), url(imagens/slot.png);
    background-size: 100%;
    image-rendering: pixelated; 
}
